@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light mode */
:root {
    color-scheme: light;
}

/* Reset body background and text color */
body {
    background-color: white;
    color: black;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: #f3f4f6;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 6px;
}